<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://teamrocketmysql.mysql.database.azure.com:3306/teamrocket</property>
    <property name="connection.username">Administrador</property>
    <property name="connection.password">Pokemon1234</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="mapeo/Articulo.hbm.xml"/>

</session-factory>
</hibernate-configuration>